#demo{
    background-color: lightblue;
    color:rgb(224, 15, 224);
}
.container{
    height:40vh;/*80 vertiacal height*/
    border: 3px solid rgb(110, 166, 199);
    display:flex;
    justify-content:space-between;

    /* between  */
    align-items:center;/* align center of the parent element*/
    /* gap:50px; */
    column-gap:10px;/*only works in flex and grid*/
    flex-wrap:wrap;/* to wrap the elements */
    flex-direction:column;/* row-reverse, column-reverse */
    background-color:rgb(65, 198, 225);
    border-radius: 50px 50px 50px 50px;
}
.box
{
    height:100px;
    width:100px;
    background-color:cyan;
    color:white;
    border:px solid black;
    border-radius: 50px 50px 50px 50px;
    box-shadow:inset 20px 20px 20px rgb(28, 18, 28);
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
.container2{
height:40vh;
border: 3px  solid rgba(0, 128, 255, 0.521);
display:flex;
justify-content:space-between;/* space-around, space-evenly */
align-items:center;
column-gap:10px;/*only works in flex and grid*/
flex-wrap:wrap;/* to wrap the elements */
flex-direction:column;
align-content:center;
background-color:rgb(180, 211, 206);
flex-flow:row wrap;
}
.circle
{
     height:100px;
    width:100px;
    background-color:rgb(40, 207, 207);
    color:white;
    border:2px solid black;
    box-shadow:inset 20px 20px 20px rgb(28, 18, 28);
    text-align:center;
    
}
#b5{
    order:1;
    /* flex-shrink:3; */
    align-self:center;
}
#b6{
    order:2;
    align-self:center;
    flex-shrink:5;
}